*{
    box-sizing: border-box;
}

input[type="search"] {
    caret-color: #FFFFFF;
}

@font-face {
    font-family: 'bitbit';
    src: url('/DNFBitBitOTF.otf') format('truetype');
}

body{
    margin: 0;
    font-family: "bitbit";
}

.nav_bar{
    display: flex;
    margin: 0px;
    padding: 0px 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav_text{
    font-size: 18px;
    margin: 0;
}
#addfriend{
    width: 20px;
}

.image_container{
    margin-left: 20px;
}

.search_bar_container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_bar{
    justify-content: center;
    display: flex;
    background-color: #03c75a;
    border-radius: 18px;
    margin: 20px 0px 20px;
    width: 90%;
    height: 40px;
    align-items: center;
}

.search_window{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 90%;
    border-radius: 18px;
}

.text_line{
    border: none;
    outline: none;
    background-color: #03c75a;
    width: 90%;
    
}

.text_line[type="text"] {
    font-family: 'bitbit';
    caret-color: #FFFFFF;
  }

.custom_cursor {
    display: flex;
    margin-top: 3px;
    animation: blink 1s infinite;
    border-radius: 50%;
    width: 1px;
    height: 80%;
    background-color: #ffffff;
    opacity: 0.7;
}

button{
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: none;
}

button img{
    fill: currentColor;
    width: 28px;
    height: 28px;
}

.profile_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.profile_img{
    margin: 20px 20px 30px;
    border: 1px groove rgba(0, 0, 0, 0.25);
    border-radius: 30%;
    width: 90px;
    height: 90px;
}

.profile_name{
    font-size: 20px;
}

.naver_img_box{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.naver_img{
    margin: 20px 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 30%;
    width: 70px;
    height: 70px;
}

.channel_name{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer_container{
    display: gird;
    grid-template-rows: repeat(4, 1fr);
    position: fixed;
    height: 70px;
    width: 100%;
    bottom: 0;
    display: grid;
    background-color: #03c75a;
}

